/* Southtown Plant Co. legacy style sheet
   Last updated: 08/17/2000
*/

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #E8E1C9;
  color: #333333;
}

a:link {
  color: #285B39;
}

a:visited {
  color: #6C4E32;
}

a:active {
  color: #993300;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  width: 98%;
  max-width: 47.5rem;
  margin-inline: auto;
  background-color: #FFFFFF;
  border-top: 12px solid #315C3D;
  border-bottom: 12px solid #315C3D;
}

#content {
  padding: 0 1.25rem 0 1.25rem;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 32%;
}

#headertxt {
  text-align: right;

}

#headertxt p {
  line-height: 0;
  font-size: 0.813rem;
}

#headernav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0.06rem;
}

.navcell {
  flex: 1 1 7.4rem;
  height: 2.2rem;
  background-color: #315C3D;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navcell a {
  font-size: 0.688rem;
  background-color: #315C3D;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.navcell a:hover {
  color: #FFF3B8;
}

#infobox {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: center;
  align-items: center;
}

#infotxt {
  flex: 1 1 24.375rem;
}

#herotxt h1 {
  font-family: Georgia, Times New Roman, serif;
  color: #315C3D;
}

#intro {
  color: #4C5148;
}

#specialtxt {
  background-color: #F4EAC8;
  height: 2rem;
  display: flex;
  align-items: center;
  padding: 0.313rem;
}

#specialtxt p {
  font-size: 0.813rem;
}

#heroimg {
  border: 1px solid #9E9475;
  flex: 1 1 18.75rem;
  height: auto;
}

.thickline {
  height: 4px;
  border: none;
  background-color: #315C3D;
}

h2 {
  font-family: Georgia, "Times New Roman", serif;
  color: #315C3D;
}

#plantboxes {
  background-color: #F6F0DA;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.plantinfo {
  flex: 1 1 13.5rem;
  padding: 0.625rem;
  border: 2px solid #D5CCAE;
}

.plantname {
  color: #315C3D;
  font-weight: bold;
  margin: 0;
}

.plantinfo p {
  margin: 0;
}

.bestfor {
  font-size: 0.813rem;
}

#services {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

#services nav {
  background-color: #EFE7CE;
  flex: 1 1 20%;
  min-width: 11.875rem;
}

#services nav p{
  color: #315C3D;
  padding: 8px 0 0 8px;
  margin-bottom: 1rem;
}

#services nav img {
  padding-left: 0.5rem;
}

#services nav ul {
  list-style-type: none;
  padding: 0;
}

#services nav li {
  margin-bottom: 1rem;
}

#ourservices {
  flex: 1 1 70%;
}

#about {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  column-gap: 1rem;
  align-items: center;
}

#about h2 {
  grid-column: span 2;
}

#about img {
  max-width: 10rem;
}

#visit {
  background-color: #F4EAC8;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
}

.visitinfo {
  flex: 1 1 21.25rem;
  padding: 0.5rem;
}

.visitinfo p {
  margin: 0;
}

.visitinfo b {
  color: #315C3D;
}

footer {
  font-size: 0.688rem;
  color: #666666;
  text-align: center;
}

#copyright p {
  line-height: 0;
  color: #666666;
}
