/* Southtown Plant Co. legacy style sheet
   Last updated: 08/17/2000
*/

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #E8E1C9;
  color: #333333;
}

a:link {
  color: #285B39;
}

a:visited {
  color: #6C4E32;
}

a:active {
  color: #993300;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  background-color: #FFFFFF;
  border-top: 12px solid #315C3D;
  border-bottom: 12px solid #315C3D;
}

.photo {
  border: 1px solid #9E9475;
}

#headertxt {
  text-align: right;
}

#headertxt p {
  line-height: 0;
}

.navcell {
  background-color: #315C3D;
  text-align: center;
}

.navcell a {
  background-color: #315C3D;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.navcell a:hover {
  color: #FFF3B8;
}

#herotxt h1 {
  font-family: Georgia, Times New Roman, serif;
  color: #315C3D;
}

#intro {
  color: #4C5148;
}

#specialtxt {
  background-color: #F4EAC8;
}

.thickline {
  height: 4px;
  border: none;
  background-color: #315C3D;
}

h2 {
  font-family: Georgia, "Times New Roman", serif;
  color: #315C3D;
}

#plantboxes {
  font-size: 0;
  background-color: #F6F0DA;
}

.plantinfo {
  border: 2px solid #D5CCAE;
}

.plantname {
  color: #315C3D;
  font-weight: bold;
  margin: 0;
}

.plantinfo p {
  margin: 0;
}

#services nav {
  background-color: #EFE7CE;
}

#services nav p{
  color: #315C3D;
  padding: 8px 0 0 8px;
}

#services nav ul {
  list-style-type: none;
  padding: 0;
}

#visit {
  background-color: #F4EAC8;
}

.visitinfo p {
  margin: 0;
}

.visitinfo b {
  color: #315C3D;
}

footer {
  color: #666666;
  text-align: center;
}

#copyright p {
  line-height: 0;
  color: #666666;
}
